%h1 Listing menus

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @menus.each do |menu|
    %tr
      %td= menu.name
      %td= link_to 'Show', menu
      %td= link_to 'Edit', edit_menu_path(menu)
      %td= link_to 'Destroy', menu, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New menu', new_menu_path
