- include_ckeditor

= form_for [@blog.user, @blog], :html=>{:multipart=>true} do |f|
  -if @blog.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@blog.errors.count, "error")} prohibited this blog from being saved:"
      %ul
        - @blog.errors.full_messages.each do |msg|
          %li= msg

  .field
    .fieldTitle Title
    = f.text_field :title
  .field
    .fieldTitle Body
    = f.text_area :body, :class=>'ckeditor_textarea'
  .field
    .fieldTitle Tags:
    .tag_list= f.text_field :tag_list
  .actions
    = f.submit 'Save'

