%h1= @user.profile.blog_title

- collection.each do |blog|
  .entry
    .entry-title= link_to blog.title, resource_url(blog)

    .date Posted on #{blog.created_at}
    .blog_body!= blog.body
    .comments
      %a{:href => "#"} 3 comments


- if current_user.try(:id) == @user.id
  = link_to 'New Blog Post', new_user_blog_path(@user)

= will_paginate collection

- content_for(:tags) do
  - for tag in tags
    %li= link_to tag.name, user_blogs_path(@user, :tag=>tag.name)

