%h1 Change Password

.form
  = form_for resource do |f|
    -if resource.errors.any?
      #errorExplanation
        %h2= "#{pluralize(resource.errors.count, "error")} prohibited this change:"
        %ul
          - resource.errors.full_messages.each do |msg|
            %li= msg
    .field
      .fieldName= label_tag "Please enter your old password for verification."
      .fieldValue= f.password_field :old_password, :id=>"old_password"
    .field
      .fieldName= label_tag "New Password:"
      .fieldValue= f.password_field :password, :id=>"password"
    .field
      .fieldName= label_tag "Confirm Password:"
      .fieldalue= f.password_field :password_confirmation
    .submit= f.submit "Change Password"

:css
  .extra_form_data {
    display: none;
  }

= content_for :head do
  = javascript_include_tag %w(jquery.validate jquery-validate/additional-methods.js)


:javascript
  var checkingPassword = true;
  $(function(){

  $('form').validate({onkeyup: function(element) {}});
  $('#old_password').rules("add", {verify_user : true, alphanumeric: true})
  });

