


#sitemap


= content_for :head do
  = javascript_include_tag %(http://static.jstree.com/v.1.0rc2/jquery.cookie.js)
  = javascript_include_tag %(http://static.jstree.com/v.1.0rc2/jquery.hotkeys.js)
  = javascript_include_tag %(http://static.jstree.com/v.1.0rc2/jquery.jstree.js)
  = javascript_include_tag %(sitemap_jstree)

