= form_for resource, :html=>{:id=>"sitemap_form"} do |f|
  = f.hidden_field :resource_type
  = f.hidden_field :resource_id
  = f.label :menu_text
  = f.text_field :menu_text
  = f.fields_for :resource do |rf|
    = render :partial = "#{resource.resource_type.tableize}/fields_for", :locals=>{:f=>rf}

