%h1 Listing external_links

%table
  %tr
    %th Page
    %th Url
    %th Link text
    %th
    %th
    %th

  - @external_links.each do |external_link|
    %tr
      %td= external_link.page_id
      %td= external_link.url
      %td= external_link.link_text
      %td= link_to 'Show', external_link
      %td= link_to 'Edit', edit_external_link_path(external_link)
      %td= link_to 'Destroy', external_link, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New external_link', new_external_link_path
