%h1 Editing page

= render 'form'

= link_to 'Show', @page
\|
= link_to 'Back', pages_path

= content_for :sidebar do
  %ul#attachments_list
    %li.sidebar_title Files
    - @page.attachments.each do |attachment|
      = render :partial => "attachments/show", :locals=>{:a=>(@attachment=attachment)}

= render :partial => "control_panel"

