= link_to 'New page', new_page_path if can? :create, Page

= content_for :links do
  - @pages.each do |page|
    %li
      = link_to page.title, page
      - if can? :edit, @page
        = link_to '| Edit', edit_page_path(page)
      - if can? :manage, @page
        = link_to '| Access Ctrl', access_control_entries_path(:resource_class=>"Page", :resource_id=>page.id)

- @pages.each do |page|
  %h1= link_to page.title, page
  = link_to "Edit", edit_page_path(page) if can? :edit, page
  .page_content!= page.body
  %hr/

