= render :partial => "show"

- if @sitemap && (@sitemap.parent != Sitemap.main_menu)
  = nav_content do
    .sidebar.parent_page= link_to @sitemap.parent.menu_text, @sitemap.parent.url
- if @sitemap && !@sitemap.children.empty?
  = nav_content do
    .child_pages
      - @child_pages.each do |child|
        .sidebar= link_to child.menu_text, child.url

- unless @page.attachments.empty?
  = nav_content do
    %ul#attachments_list
      %li.sidebar_title Files
      - @page.attachments.each do |attachment|
        = render :partial => "attachments/show", :locals=>{:a=>(@attachment=attachment)}

