%h1 Listing feedbacks

%table
  %tr
    %th Name
    %th Phone
    %th Email
    %th Message
    %th Want response
    %th
    %th
    %th

  - @feedbacks.each do |feedback|
    %tr
      %td= feedback.name
      %td= feedback.phone
      %td= feedback.email
      %td= feedback.message
      %td= feedback.want_response
      %td= link_to 'Show', feedback
      %td= link_to 'Edit', edit_feedback_path(feedback)
      %td= link_to 'Destroy', feedback, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New feedback', new_feedback_path
