!!! 5
%html
%head
  = csrf_meta_tag
  /[if lt IE 9]
    = javascript_include_tag 'html5'
  = javascript_include_tag :defaults
  :javascript
    $(function(){
      $('#image_dialog').find('img').click(function(){
        url = $(this).attr('src');
        window.opener.CKEDITOR.tools.callFunction( #{params[:CKEditorFuncNum]}, url);
        window.close();
      });
    });
%body
  #image_dialog= yield

